/* set width of FAQ position column in edit screen for FAQ CPT */
.column-position {
  width: 120px;
}
/* set custom widths of Claim columns in edit screen for FAQ CPT */
.column-first-name,
.column-last-name {
  width: 90px;
}


/* Claim metabox styles for form styling */
#claim_metabox label {
  font-weight: 600;
}
#claim_metabox .row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom:  0.75em;
}
#claim_metabox .row .half {
  flex: 0 1 50%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#claim_metabox .row .half:nth-of-type(1) {
  margin-right: 5px;
}
#claim_metabox .row .half label,
#claim_metabox .row .half input,
#claim_metabox .row .half select {
  flex: 1;
}
#claim_metabox .row > label {
  flex:  1;
}
#claim_metabox .row > input,
#claim_metabox .row > select {
  flex:  3;
  margin-left: -7px; /* offsets spacing difference in full length rows.*/
}
