/* Styling for accordions */
 /* Style the buttons that are used to open and close the accordion panel */
.faq-block {
  margin:  1.25em 0;
}

.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 2px solid #898989;
  border-radius: 7px;
  outline: none;
  transition: 0.4s;
  font-size: 16px;
}
.accordion.active {
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  background-color: #f8f8f8;
}

/* Style the accordion panel. Note: hidden by default */
.active + .panel {
  border: 2px solid #898989;
  border-top-width: 0;
}
.panel {
  padding: 0 18px;
  background-color: #f8f8f8;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border: none;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.answer {
  padding: 1em 0;
}
.panel .answer p{
  font-size: 16px;
  padding: 0.5em 0;
}


.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #444;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}